@import "./reset";
@import "./variaveis";
@import "./mixins";

section {
  width: 100%;
  height: 100vh;
  padding: 20px;
  @include flexCenter();

  .container {
    width: 80%;

    h1 {
      width: 100%;
      font-size: 2.4rem;
      text-align: left;
      padding: 24px 0;
      font-weight: weight(bold);
    }
  }
}