@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  
}
body {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #eee;

}

header .container {
  display: flex;
  
  align-items: center;

  width: 90%;
  max-width: 980px;
  margin: auto;
}

header .container img {
  width: 200px;
  padding: 15px 0;
}

header .menu-section {
}

header nav ul {
  display: flex; 
}


header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  font-size: 1.4rem;
  padding: 15px;
  font-weight: bold;

  border-radius: 6px;
  margin-right: 5px;
  transition: all 250ms linear 0s;
}


header nav ul li a:hover {
  background: lightgray;
}

section.logo {
  margin: 80px 0;

}

section.logo p {
  color: rgba(4, 82, 39, 0.473);
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
}

section.logo .container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: flex;
}

.logo .container img {
  width: 300px;
  margin: auto;
}

.botao {
  display: inline-block;
  color: #FFF;
  background-color: green;
  margin: 55px 0px 0px;
  padding: 2% 10%;
  text-decoration: none;
  border-radius: 8px;
  transition: all 150ms linear 0s;
}

.botao:hover {
  opacity: 0.9;
  font-weight: bold;
}

main {
  margin-bottom: 80px;
}

.produtos {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;

}
.texto-medio {
  font-size: 1.6rem;
  line-height: 2.6rem;  
  
}
.produto {
  display: flex;  
  flex-direction: column; 
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  border: solid 1px lightgray;
  padding: 5px;
  box-shadow: 2px 2px 18px #ccc;
  
}

.produto:hover {
  transform: translateY(-7px)
}

.imagem {
  width: 70%;
  padding-top: 60%;
  overflow: hidden;
  position: relative;
  border-radius: 6px;

  align-self: center;
}

.imagem img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conteudo {
  margin: 20px;  
}

.titulo {
  margin-bottom: 20px;
}

.informacoes {
  display: flex;
  align-self: end;
  align-items: center;
}

.preco {
  margin-left: auto;
  padding: 2% 5%;
  border-radius: 20px;
  /* filter: brightness(100%); */
  background-color: rgb(130, 248, 84);  
  color: white;
  font-weight: bold;
  transition: all 350ms linear 0s;  
}
.preco:hover {
  background-color: green;
}

footer {
  margin-top: 64px;
  text-align: center;
  color: black;
}

/* @media */

@media (max-width: 630px) {
  html {
    font-size: 50%;
  }


  .logo .container {
    flex-direction: column;
    text-align: center;

  }
  .logo .container img {
    order: -1;
  }
}