*{
	box-sizing: border-box;
}

.pokeball {
  height: 25px;
  width: 25px;
  background-color: #eee;
  box-shadow: 
  0px 0px 0px 0px #eee,
  25px 0px 0px 0px #eee,
  50px 0px 0px 0px #eee,
  75px 0px 0px 0px #eee,
  100px 0px 0px 0px #eee,
  125px 0px 0px 0px black,
  150px 0px 0px 0px black,
  175px 0px 0px 0px black,
  200px 0px 0px 0px black,
  225px 0px 0px 0px #eee,
  250px 0px 0px 0px #eee,
  275px 0px 0px 0px #eee,
  300px 0px 0px 0px #eee,
  325px 0px 0px 0px #eee, /*primeira*/
  0px 25px 0px 0px #eee,
  25px 25px 0px 0px #eee,
  50px 25px 0px 0px #eee,
  75px 25px 0px 0px black,
  100px 25px 0px 0px black,
  125px 25px 0px 0px red,
  150px 25px 0px 0px red,
  175px 25px 0px 0px red,
  200px 25px 0px 0px red,
  225px 25px 0px 0px black,
  250px 25px 0px 0px black,
  275px 25px 0px 0px #eee,
  300px 25px 0px 0px #eee,
  325px 25px 0px 0px #eee, /*fim segunda linha*/
  0px 50px 0px 0px #eee,
  25px 50px 0px 0px #eee,
  50px 50px 0px 0px black,
  75px 50px 0px 0px red,
  100px 50px 0px 0px red,
  125px 50px 0px 0px white,
  150px 50px 0px 0px red,
  175px 50px 0px 0px red,
  200px 50px 0px 0px red,
  225px 50px 0px 0px red,
  250px 50px 0px 0px red,
  275px 50px 0px 0px black,
  300px 50px 0px 0px #eee,
  325px 50px 0px 0px #eee,
  0px 75px 0px 0px #eee,
  25px 75px 0px 0px #eee,
  50px 75px 0px 0px black,
  75px 75px 0px 0px red,
  100px 75px 0px 0px white,
  120px 75px 0px 0px white,
  150px 75px 0px 0px white,
  175px 75px 0px 0px red,
  200px 75px 0px 0px red,
  225px 75px 0px 0px red,
  250px 75px 0px 0px red,
  275px 75px 0px 0px black,
  300px 75px 0px 0px #eee,
  325px 75px 0px 0px #eee, /*final terceira linha*/  
  0px 100px 0px 0px #eee,
  25px 100px 0px 0px black,
  50px 100px 0px 0px red,
  75px 100px 0px 0px red,
  100px 100px 0px 0px red,
  125px 100px 0px 0px white,
  150px 100px 0px 0px red,
  175px 100px 0px 0px red,
  200px 100px 0px 0px red,
  225px 100px 0px 0px red,
  250px 100px 0px 0px red,
  275px 100px 0px 0px red,
  300px 100px 0px 0px black,
  325px 100px 0px 0px #eee, /*final quarta linha*/
  0px 125px 0px 0px #eee,
  25px 125px 0px 0px black,
  50px 125px 0px 0px red,
  75px 125px 0px 0px red,
  100px 125px 0px 0px red,
  125px 125px 0px 0px red,
  150px 125px 0px 0px black,
  175px 125px 0px 0px black,
  200px 125px 0px 0px red,
  225px 125px 0px 0px red,
  250px 125px 0px 0px red,
  275px 125px 0px 0px red,
  300px 125px 0px 0px black,
  325px 125px 0px 0px #eee, /*final quinta linha*/
  0px 150px 0px 0px #eee,
  25px 150px 0px 0px black,
  50px 150px 0px 0px black,
  75px 150px 0px 0px red,
  100px 150px 0px 0px red,
  125px 150px 0px 0px black,
  150px 150px 0px 0px white,
  175px 150px 0px 0px #c0bfbf,
  200px 150px 0px 0px black,
  225px 150px 0px 0px red,
  250px 150px 0px 0px red,
  275px 150px 0px 0px black,
  300px 150px 0px 0px black,
  325px 150px 0px 0px #eee,
  0px 175px 0px 0px #eee,
  25px 175px 0px 0px black,
  50px 175px 0px 0px white,
  75px 175px 0px 0px black,
  100px 175px 0px 0px black,
  125px 175px 0px 0px black,
  150px 175px 0px 0px #c0bfbf,
  175px 175px 0px 0px #c0bfbf,
  200px 175px 0px 0px black,
  225px 175px 0px 0px black,
  250px 175px 0px 0px black,
  275px 175px 0px 0px #c0bfbf,
  300px 175px 0px 0px black,
  325px 175px 0px 0px #eee, /*final sexta linha*/
  0px 200px 0px 0px #eee,
  25px 200px 0px 0px #eee,
  50px 200px 0px 0px black,
  75px 200px 0px 0px white,
  100px 200px 0px 0px white,
  125px 200px 0px 0px white,
  150px 200px 0px 0px black,
  175px 200px 0px 0px black,
  200px 200px 0px 0px #c0bfbf,
  225px 200px 0px 0px #c0bfbf,
  250px 200px 0px 0px #c0bfbf,
  275px 200px 0px 0px black,
  300px 200px 0px 0px #eee,
  325px 200px 0px 0px #eee, /*final setima linha*/
  0px 225px 0px 0px #eee,
  25px 225px 0px 0px #eee,
  50px 225px 0px 0px black,
  75px 225px 0px 0px #c0bfbf,
  100px 225px 0px 0px white,
  125px 225px 0px 0px white,
  150px 225px 0px 0px white,
  175px 225px 0px 0px #c0bfbf,
  200px 225px 0px 0px #c0bfbf,
  225px 225px 0px 0px #c0bfbf,
  250px 225px 0px 0px #c0bfbf,
  275px 225px 0px 0px black,
  300px 225px 0px 0px #eee,
  325px 225px 0px 0px #eee,/*final oitava linha*/
  0px 250px 0px 0px #eee,
  25px 250px 0px 0px #eee,
  50px 250px 0px 0px #eee,
  75px 250px 0px 0px black,
  100px 250px 0px 0px black,
  125px 250px 0px 0px #c0bfbf,
  150px 250px 0px 0px #c0bfbf,
  175px 250px 0px 0px #c0bfbf,
  200px 250px 0px 0px #c0bfbf,
  225px 250px 0px 0px black,
  250px 250px 0px 0px black,
  275px 250px 0px 0px #eee,
  300px 250px 0px 0px #eee,
  325px 250px 0px 0px #eee, /*final nona linha*/
  0px 275px 0px 0px #eee,
  25px 275px 0px 0px #eee,
  50px 275px 0px 0px #eee,
  75px 275px 0px 0px #eee,
  100px 275px 0px 0px #eee,
  125px 275px 0px 0px black,
  150px 275px 0px 0px black,
  175px 275px 0px 0px black,
  200px 275px 0px 0px black,
  225px 275px 0px 0px #eee,
  250px 275px 0px 0px #eee,
  275px 275px 0px 0px #eee,
  300px 275px 0px 0px #eee,
  325px 275px 0px 0px #eee
}