*{
padding: 0;
margin: 0;
box-sizing: border-box;

font-family: sans-serif;
font-weight: normal;
}

body {
  min-height: 100vh;
  background: linear-gradient(-30deg, red 20%,blue 80%)
}
.Calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* > filho direto */
.Calc-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  outline: none;
  background: rgba(255, 255, 255, 0.75);
}
.Calc-grid > button:hover {
  background: rgba(255, 255, 255, 0.90)
}
/* botões que irão ocupar 2 colunas */
.span-two {
grid-column: span 2;
}
.visor{
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;

  word-wrap:break-word;
  word-break: break-all;
}
.visor .anterior {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.visor .atual {
  color: white;
  font-size: 2.5rem;
}
